html
    head
        title= title
    body
        h1 Log in
        form(method='POST' action='/auth')
            div.form-group
                label(for='username') Username
                input.form-control(type='text' id='username' placeholder='User ID' name='username' required=true)
            div.form-group
                label(for='password') Password
                input.form-control(type='password' id='password' placeholder='Password' name='password' required=true)
            button(type='submit') Log in
